node_modules/
.env
.env.production
.env.local
.env.development
uploads/

# Admin scripts
scripts/createAdmin.js
scripts/updateProdAdmin.js
scripts/createProdAdmin.js

# Environment files
.env
.env.*